.winning{
  color: white;
}
 .container
{
  background-image: linear-gradient(to bottom left, yellow, gray,green);
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 3px solid green;
  padding: 10px;
}
.sizeMatter{
  height:40vh;
  width:20vw;
  text-align: center;
}

.DealerCard,.PlayerCard{
width:40vh;
height:40vh;
}
img{
  max-width: 40vw;
  max-height: 40vh;
  margin-left: 18vw;  
 
}
.btn {
  background: #3498db;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 15px;
}
.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}



